version: '3.3'

services:
  workspace:
    build:
      context: .
    container_name: workspace
    tty: true
    volumes:
      - ./share:/share:delegated
  workspace-adminer:
    image: adminer:4.7
    container_name: workspace-adminer
    ports:
      - "8399:8080"
    tty: true

networks:
  default:
    external:
      name: chichi-network
